.App {
  text-align: center;
}

.MainCard {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.ColorSample {
  width: 100%;
  height: 100px;
}

.card {
  display: flex;
}

.colors-container {
  display: flex;
  flex-direction: row;
}

.color-sample-details {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}
