@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

:root {
  --color1: white;
  --color2: black;
  --color3: black;
  --color4: white;
  --color5: black;
  --color6: white;

  --main-font: "PT Sans Narrow", sans-serif;
}

.App {
  font-family: var(--main-font);
  background: black;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
}

.MainCard {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 75px;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid var(--color1);
  border-right: 1px solid var(--color1);
  box-shadow: -10px -10px 150px 20px black;

  animation: fadeInSlide 0.5s;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.mainCard-button {
  margin-top: 1em;
  height: auto;
  width: 100%;
  padding: 0.75em;
}

.colorExtractor-container {
  margin-bottom: 1em;
  display: flex;
  align-content: center;
  justify-content: center;
}

.colorExtractor-image {
  max-width: 100%;
  object-fit: contain;
}

input[type="url"] {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 1px var(--color1);
  color: black;
  border: none;
  padding: 15px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}

.GalleryContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  animation: fadeInSlide 0.5s;
}

.gallery-background {
  margin: auto;
  max-width: 1000px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid var(--color1);
  border-right: 1px solid var(--color1);
  box-shadow: -10px -10px 150px 20px black;
}

.GalleryCard {
  margin: 3.5em auto;
  display: flex;
  flex-direction: row;
  height: 100px;
}

.GalleryCard > .colors-container {
  margin-left: auto;
  width: 600px;
  justify-self: flex-end;
  margin-right: 1em;
  box-shadow: 1px 1px 1px var(--color1);
  margin-top: 0;
}

.gallery-image-container {
  height: 100%;
  width: 200px;
}

.gallery-image {
  max-height: 100%;
  margin: auto;
  box-shadow: 1px 1px 1px var(--color1);
}

.card {
  display: flex;
}

.colors-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  margin-top: 1em;
}

.ColorSample {
  height: 100px;
  width: 100px;
}

.color-sample-display {
  height: 100%;
}

.color-sample-details > * {
  margin: 0px;
  padding: 1px 0;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.color-sample-details {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  opacity: 0;
  width: 100%;
  height: 110%;
  transition: 0.2s;
  transform: translateY(30px);
}

.color-sample-details:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.2s;
  transform: translateY(0px);
}

button,
input[type="submit"] {
  margin: 0px 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px var(--color1);
  color: white;
  font-size: 16px;
}

input[type="submit"]:hover {
  box-shadow: 1px 1px 1px var(--color5);
  background-color: rgba(255, 255, 255, 0.1);
}

button:hover {
  box-shadow: 1px 1px 1px var(--color5);
  background-color: rgba(255, 255, 255, 0.1);
}

.new-palette-button {
  padding: 20px 70px;
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  text-justify: center;
}

.App::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, var(--color1)-30%, var(--color2));
  clip-path: circle(30% at 10% 20%);
  z-index: -2;
}

.App::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(200deg, var(--color6) 20%, var(--color5));
  clip-path: circle(20% at 90% 80%);
  z-index: -2;
}

.icon {
  width: 20px;
}

.lines {
  position: fixed;
  width: 110vh;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-75deg);
}

.line {
  width: 100%;
  height: 15px;
  background: red;
  margin: 10px;
}

.line:nth-child(1) {
  background: linear-gradient(45deg, var(--color1), var(--color2));
}

.line:nth-child(2) {
  background: linear-gradient(45deg, var(--color3), var(--color4));
}

.line:nth-child(4) {
  height: 5px;
  margin-top: 5px;
  background: linear-gradient(45deg, var(--color3), var(--color6));
}

.line:nth-child(3) {
  height: 5px;

  margin-top: 100px;
  margin-bottom: 0px;
  background: linear-gradient(45deg, var(--color5), var(--color6));
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 900px) {
  .GalleryContainer {
    padding: 1em;
  }

  .gallery-background {
    padding: 2em;
    max-width: 100%;
  }

  .new-palette-button {
    padding: 1em 2em;
    font-size: 20px;
  }

  .MainCard {
    margin: auto;
    padding: 2em;
  }
  .colors-container {
    justify-self: center;
    margin: auto;
    margin-top: 1em;
  }

  .ColorSample {
    max-height: 15vw;
    max-width: 15vw;
  }

  .colorExtractor-image {
    max-height: 300px;
  }

  form {
    flex-wrap: wrap;
  }

  form > * {
    margin: 5px;
  }

  .gallery-background {
    max-width: 100%;
    padding: 2em 0.5em;
    width: auto;
  }

  .gallery-image-container {
    padding-right: 1em;
    width: 100%;
    max-height: 30vw;
  }

  .GalleryCard {
    max-width: 100%;
    max-height: 30vw;
  }

  .GalleryCard > .colors-container {
    flex-wrap: wrap;
  }

  .GalleryCard > .colors-container > .ColorSample {
    max-height: 50%;
    max-width: 33.333%;
  }
}
